
.title {
    margin-left: 18%;
    color: #fff;
    font-weight: 900;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-top: 40px;
}


.pic-container{
  
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    max-height: 800px;
    margin-left: 11%; /* Adjustment for the gutter */
    margin-top:100px;
    
}



.article-column {
  padding-left: 50px;
  padding-right:50px;
  background: #fff;
  width:50%;
  -webkit-column-break-inside: avoid;
  margin: 0 20px 20px 0; /* Some gutter */
  padding-bottom: 10px;
  border-radius: 2px;
}

.article-column {
  &:nth-child(4n+1){
     width: 300px;
  }
  &:nth-child(4n+2){
     width: 300px;
  }
  &:nth-child(4n+3){
     width: 300px;
  }
  &:nth-child(4n+4){
     width: 300px;
  }
}



.article-column {

  padding-left: 50px;
  padding-right:50px;
  background: #fff;
  width:50%;
  -webkit-column-break-inside: avoid;
  margin: 0 20px 20px 0; 
  padding-bottom: 10px;
  border-radius: 2px;
}

.article-column {

  &:nth-child(4n+1){
     width: 300px;
  }
  &:nth-child(4n+2){
     width: 300px;
  }
  &:nth-child(4n+3){
     width: 300px;
  }
  &:nth-child(4n+4){
     width: 300px;
  }
}


/*  On large screens */
@media only screen and (min-width: 1024px) {
    
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }

  }
  
  /* On medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }
  }
  
  /* On small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    
    .user-button {
      margin-left:0px;
    }
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }
  }

  @media only screen and (max-width: 647px) and (min-width: 320px) {
    .title {
        margin-left:40px;
    }
    
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }
    .user-button {
      left:0px;
    }
  }

  .entry-date {
    color: #fff;
    // background-color: #8A908A;
    background-color: purple;
    border-color: rgba(85, 0, 100, 0.7);
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
  }

  .entry-title {
    font-family: 'Open Sans', sans-serif;
  }
  .entry-description {
    font-family: 'Lato', sans-serif;
    font-size:19px;
  }

  .view-button {
    background-color: #CA3D2E;
    color: #fff;
    margin-right: 1px;
    border-radius: 7px;
    font-weight: 700;
}

.edit-button {
    background-color: #C67971;
    color: #fff;
    margin-right: 1px;
    border-radius: 7px;
    font-weight: 700;
}

.delete-button {
    background-color: #A6A5A5;
    color: #fff;
    margin-right: 3px;
    border-radius: 7px;
    font-weight: 700;
}

.example_a {
  color: #fff !important;
  text-decoration: none;
  background-color: #CA3D2E;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  text-decoration:none;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  }
  
  .example_a:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  text-decoration: none;
  }

  .user-button {
    margin-right:5px;
    border-radius:5px;
    background-color: purple;
    border-color: rgba(85, 0, 100, 0.7);
    text-transform: uppercase;
    font-weight: 900;
  }
  .user-button2 {
    border-radius: 5px;
    background-color: purple;
    border-color: rgba(85, 0, 100, 0.7);
    text-transform: uppercase;
    font-weight: 900;
    
  }

  .modal-content {
    margin-top:30%;
  }
  #cardlink {
    background-color: #A6A5A5;
    color: #fff;
    margin-right: 3px;
    border-radius: 7px;
    font-weight: 700;
  }

  #success-button {
    margin-top:0px;
    border-radius: 7px;
    padding-top:2px;
    padding-bottom: 2px;
    background-color: #28a745;
    border-color: #28a745;
  }

  #danger-button {
    border-radius: 7px;
    padding-top:2px;
    padding-bottom: 2px;

  }

  #warning-button {
    border-radius: 7px;
    color:#fff;
    padding-top:2px;
    padding-bottom: 2px;

  }

  button {
    
    margin-right: 4px;
  }

  .pull-right {
    border-radius: 7px;
    background-color: purple;
    border-color: rgba(85, 0, 100, 0.7);
  }
  $primary-colour: rgba(119, 20, 137, 0.7);
.navbar img {
  border-radius: 20% !important;
  height: 1cm !important;
  width: 1cm !important;
  color: $primary-colour !important;
}
.navbar {
//   margin-right: 5rem;
  width: 100%;
}
.navbar-brand {
  font-size: 15px !important;
  font-weight: bold;
  padding-top: 0cm !important;
}

#navv-link {
    color:#fff;
    font-weight: 800;
  }
  
  #navbar-brand {
    color:#fff;
    font-size: 20px !important;
  }
  
  #mynav {
    background-color: purple;
    border-color: rgba(85, 0, 100, 0.7);
    position: fixed;
    z-index: 2;
  }
  



