
.title {
    margin-left:142px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-top: 30px;
}
.pic-container {
    column-count: 3;
    column-gap: 1.5em;
    width: 80%;
    margin: 0 auto;
}

.article-column {
    background: #fff;
    -webkit-column-break-inside: avoid;
    margin-bottom: 10px;
    padding-left: 7px;
}

/*  On large screens */
@media only screen and (min-width: 1024px) {
    .pic-container {
      column-count: 3;
    }
  }
  
  /* On medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .pic-container {
      column-count: 3;
    }
  }
  
  /* On small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    .pic-container {
      column-count: 2;
    }
  }

  @media only screen and (max-width: 647px) and (min-width: 320px) {
    .title {
        margin-left:40px;
    }
    .pic-container {
      column-count: 1;
    }
  }

  .entry-date {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
  }
