
.title {
    margin-left: 18%;
    color: #fff;
<<<<<<< HEAD
    font-weight: 900;
=======
>>>>>>> Add Heroku generated app.json
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    margin-top: 40px;
}


.pic-container{
  
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    max-height: 800px;
    margin-left: 11%; /* Adjustment for the gutter */
  
}



.article-column {
<<<<<<< HEAD
  padding-left: 50px;
  padding-right:50px;
  background: #fff;
  width:50%;
  -webkit-column-break-inside: avoid;
  margin: 0 20px 20px 0; /* Some gutter */
  padding-bottom: 10px;
  border-radius: 2px;
}

.article-column {
  &:nth-child(4n+1){
     width: 300px;
  }
  &:nth-child(4n+2){
     width: 300px;
  }
  &:nth-child(4n+3){
     width: 300px;
  }
  &:nth-child(4n+4){
     width: 300px;
  }
=======
    background: #fff;
    -webkit-column-break-inside: avoid;
    margin-bottom: 10px;
    padding-left: 7px;
    padding-bottom: 10px;
>>>>>>> Add Heroku generated app.json
}

/*  On large screens */
@media only screen and (min-width: 1024px) {
    
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }

  }
  
  /* On medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }
  }
  
  /* On small screens */
  @media only screen and (max-width: 767px) and (min-width: 540px) {
    
    .user-button {
      margin-left:0px;
    }
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }
    .user-button {
      margin-left:0px;
    }
  }

  @media only screen and (max-width: 647px) and (min-width: 320px) {
    .title {
        margin-left:40px;
    }
<<<<<<< HEAD
    
    .pic-container{
      display: flex;
      flex-wrap: nowrap;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 120px;
      padding-right: 90px;
    }
    .user-button {
      left:0px;
=======
    .pic-container {
      column-count: 1;

    }
    .user-button {
      margin-left:0px;
>>>>>>> Add Heroku generated app.json
    }
  }

  .entry-date {
    color: #fff;
<<<<<<< HEAD
=======
    // background-color: #28a745;
    // border-color: #28a745;
>>>>>>> Add Heroku generated app.json
    background-color: #8A908A;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
<<<<<<< HEAD
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
=======
    padding-bottom: 7px;
    padding-top: 3px;
>>>>>>> Add Heroku generated app.json
  }

  .view-button {
    background-color: #CA3D2E;
    color: #fff;
    margin-right: 1px;
    border-radius: 7px;
    font-weight: 700;
}

.edit-button {
    background-color: #C67971;
    color: #fff;
    margin-right: 1px;
    border-radius: 7px;
    font-weight: 700;
}

.delete-button {
    background-color: #A6A5A5;
    color: #fff;
    margin-right: 3px;
    border-radius: 7px;
    font-weight: 700;
}

.example_a {
  color: #fff !important;
  text-decoration: none;
<<<<<<< HEAD
  background-color: #CA3D2E;
  padding: 5px;
  border-radius: 5px;
=======
  // text-transform: uppercase;
  // background: #ed3330;
  background-color: #CA3D2E;
  padding: 5px;
  border-radius: 5px;
  // display: inline-block;
>>>>>>> Add Heroku generated app.json
  border: none;
  margin-left: 5px;
  text-decoration:none;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  }
  
  .example_a:hover {
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  text-decoration: none;
  }

  .user-button {
<<<<<<< HEAD
    margin-left: 73%;
=======
    margin-left:79%;
>>>>>>> Add Heroku generated app.json
    margin-right:5px;
    border-radius:5px;
    background-color: #464956;
  }
  .user-button2 {
    border-radius: 5px;
    background-color: #464956;
    
  }

  .modal-content {
    margin-top:30%;
  }
<<<<<<< HEAD
  #cardlink {
    background-color: #A6A5A5;
    color: #fff;
    margin-right: 3px;
    border-radius: 7px;
    font-weight: 700;
  }

  #success-button {
    margin-top:0px;
    border-radius: 7px;
    padding-top:2px;
    padding-bottom: 2px;
  }

  #danger-button {
    border-radius: 7px;
    padding-top:2px;
    padding-bottom: 2px;

  }

  #warning-button {
    border-radius: 7px;
    color:#fff;
    padding-top:2px;
    padding-bottom: 2px;

  }

  button {
    
    margin-right: 4px;
  }

  .pull-right {
    background: #111;
    border-radius: 7px;
  }
=======
>>>>>>> Add Heroku generated app.json



