$primary-colour: rgba(119, 20, 137, 0.7);
.navbar img {
  border-radius: 20% !important;
  height: 1cm !important;
  width: 1cm !important;
  color: $primary-colour !important;
}
.navbar {
//   margin-right: 5rem;
  width: 100%;
}
.navbar-brand {
  font-size: 15px !important;
  font-weight: bold;
  padding-top: 0cm !important;
}

#navv-link {
    color:#fff;
    font-weight: 800;
  }
  
  #navbar-brand {
    color:#fff;
    font-size: 20px !important;
  }
  
  #mynav {
    background-color: purple;
    border-color: rgba(85, 0, 100, 0.7);
    position: fixed;
    z-index: 2;
  }
  